appdirs==1.4.3
asn1crypto==0.22.0
babelfish==0.5.5
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
click==6.7
colorama==0.3.9
colorful==0.4.0
cryptography==2.0.3
cursor==1.1.0
dogpile.cache==0.6.4
enum34==1.1.6
enzyme==0.4.1
ezflix==1.0.3
future==0.16.0
futures==3.1.1
guessit==2.1.4
halo==0.0.6
idna==2.6
ipaddress==1.0.18
log-symbols==0.0.11
packaging==16.8
pbr==3.1.1
pkginfo==1.4.1
PTable==0.9.2
pycparser==2.18
pyOpenSSL==17.2.0
pyparsing==2.2.0
pysrt==1.1.1
python-dateutil==2.6.1
pytz==2017.2
rarfile==3.0
rebulk==0.9.0
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
spinners==0.0.19
stevedore==1.25.0
subliminal==2.0.5
termcolor==1.1.0
tqdm==4.15.0
twine==1.9.1
urllib3==1.22
